# Editor stuff
compile_commands.json
.vscode

# binaries
bin
obj
**/*.kpm
**/*.ko
**/*.zip
boringssl/build-android
boringssl/build-host

# Intermediate files
generated-intermediates

# Sensitive files
**/*.crt
**/*.key
**/*.pem
**/*.pub
